body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1e1e1e;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #2c2c2e;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

.big-card {
  background: url("./assets/d76dfd5c87274ae659d0281c6366875e.png");
  grid-column: span 6; /* Prend 6 colonnes */
  grid-row: span 9; /* Prend 6 rangées */
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.big-card .card-content {
  color: white;
}

.big-card2 {
  grid-column: span 6; /* Prend 6 colonnes */
  grid-row: span 9; /* Prend 6 rangées */
}


.medium-card {
  grid-column: span 6; /* Prend 6 colonnes */
  grid-row: span 3; /* Prend 3 rangées */
}

.small-card {
  grid-column: span 3; /* Prend 3 colonnes */
  grid-row: span 3; /* Prend 3 rangées */
}

.small-card2 {
  grid-column: span 3;
  grid-row: span 6;
}

/* Long card style */
.long-card {
  grid-column: span 2; /* Takes up two columns */
  grid-row: span 1; /* Takes up one row */
}

/* Wide card style */
.wide-card {
  grid-column: span 3; /* Takes up three columns */
}

/* Full-width card style */
.full-width-card {
  grid-column: 1 / -1; /* Takes up full width */
}

/* Tall card style */
.tall-card {
  grid-row: span 3; /* Takes up three rows */
}

.height-card {
  grid-column: span 3;
  grid-row: span 6;
}

.card-image {
  width: 100%; /* Prend toute la largeur de la carte */
  border-radius: 0 0 15px 15px; /* Arrondit les coins inférieurs pour s'aligner avec la carte */
  margin-top: 20px; /* Ajoute un espace entre le texte et l'image, si nécessaire */
  object-fit: cover; /* Assure que l'image couvre bien l'espace dédié sans déformer */
}

.date {
  font-weight: bold;
  margin-right: 10px; /* Espace entre la date et l'activité */
}

.card-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.card-icon-link {
  display: inline-block;
  text-decoration: none;
}

.card-icon {
  width: 24px; /* Ou la taille que vous souhaitez */
  height: 24px; /* Ou la taille que vous souhaitez */
  transition: transform 0.2s; /* Pour un effet de survol */
}

.card-icon:hover {
  transform: scale(1.1); /* Un léger agrandissement au survol */
}

.contact-form {
  /* Assurez-vous que le formulaire est au bas de la carte */
  margin-top: auto;
}

.form-group {
  display: flex;
  margin-top: auto; /* Ajustez selon le besoin */
}

.form-input {
  flex-grow: 1;
  margin-right: 10px; /* Espace entre l'input et le bouton */
  padding: 10px;
  border-radius: 20px; /* Arrondit l'input */
  border: 1px solid #ccc;
}

.form-button {
  width: 48px;
  height: 48px;
  border-radius: 50%; /* Bouton rond */
  border: none;
  background-color: #007bff; /* Bleu */
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Pour centrer verticalement le texte du bouton dans le cas d'un bouton rond */
.form-button svg {
  margin: auto;
}